body {
  background: #490b0b;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.pokedex {
  background: #e00000;
  width: 350px;
  padding: 20px;
  border-radius: 15px;
  border: 4px solid black;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
}

.screen {
  background: #b8ffd4;
  border: 4px solid black;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.pokemon-img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background: white;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
}

.controls {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 16px;
}

button {
  padding: 10px;
  border: 2px solid black;
  background: #ffdd00;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  transition: .2s;
}

button:hover {
  background: #ffe866;
  transform: scale(1.05);
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 5px;
}